page-zone {
  ion-title {
    font-family: $font-heading;
  }

  ion-card {
    // border-radius: 64px !important;
  }

  h2 {
    font-family: $font-heading;
  }

  p {
    font-family: $font-body;
  }

  // .list-md[inset],
  // .list-ios[inset] {
  //   margin-top: 0 !important;
  // }

  .item-md ion-icon[item-end],
  .item-ios ion-icon[item-end] {
    color: #95a5a6 !important;
  }


  // .card-content-md,
  // .card-content-ios {
  //   /* padding: 13px 16px; */
  //   padding: 0 !important;
  // }

  // .label-md,
  // .label-ios {
  //   margin: 0 !important;
  // }

  .item-md,
  .item-ios {
    padding-left: 0 !important;
  }
  // .item-md.item-block .item-inner {
  //   padding: 13px 16px;
  // }
}
