page-menu {
  ion-title {
    font-family: $font-heading;
    letter-spacing: 1px;
    color: #fefeff;
    .s-1 {
      color: #4bbcf4;
      font-weight: 300;
    }

    .s-2 {
      display: block;
      font-size: 10.5px;
      font-weight: 200;
    }
  }

  ion-content {
    background: #f0f2f5 !important;
  }

  .btn-item {
    background-color: #fff;
  }

  h1,
  h2 {
    font-family: $font-heading;
  }

  h1 {
    color: #332e45 !important;
    font-weight: 300 !important;
  }

  h2 {
    font-family: $font-heading;
    font-weight: 500 !important;
    color: #332e45 !important;
  }

  .subtitle {
    color: #808fa0 !important;
  }

  p {
    font-weight: 400;
    font-family: $font-body;
  }

  .item-md.item-block .item-inner {
    border-bottom: 0 !important;
  }

  .item-md ion-thumbnail[item-start] {
    margin: 8px 16px 8px 16px !important;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover !important;
    object-position: top !important;
    border-radius: 3px;
  }

  // .item-md,
  // .item-ios {
  //   background-color: transparent;
  // }

  // .item-transparent {
  //   background-color: transparent !important;
  // }

  // .item-md.item-block .item-inner {
  //   border: 0 !important;
  // }

  // .item-md h1,
  // .item-ios h1 {
  //   font-size: 2rem;
  // }

  // ion-icon {
  //   font-size: 1.5em;
  // }

  .item-md,
  .item-ios {
    padding-left: 0 !important;
    margin-bottom: 15px !important;
    // background-color: #18bc9c;
    // border-color: #18bc9c;

    border: 0 !important;
    border-radius: 3px;
    padding: 3px 0;
  }
}
